@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Elms Sans', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}
